In [2]:
import pandas as pd

df = pd.read_csv(r'D:\数学建模\123.csv')

In [3]:
df

   Unnamed: 0      name  age
0           0  wangqibo   12
1           1       tom   13

In [4]:
import numpy as np

In [6]:
df01 = pd.DataFrame({'Name': ['wangqibo', 'tom'],
                     'age': [12, 13]})
df01

       Name  age
0  wangqibo   12
1       tom   13